@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* 
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
 */

:root {
	--primary-background: #bbbcbf;
	--secondary-background: #9297b3;
	--home-background: #f8f8f8;
	--projects-background: #f8f8f8;
	--projects-container-bg: #b3ae92;
	--hero-banner-text: 'Playfair Display', serif;
	--primary-font-family: 'Montserrat', sans-serif;
	--buttons-font-family: 'Poppins', sans-serif;
	--buttons-color: #f8f8f8;
	--home-page-buttons-bg: #4c516d;
	--secondary-font-family: 'Poppins', sans-serif;
	--text-primary-color: #0f0700;
	--text-secondary-color: #790326;
	--text-secondary-color: #0f0700;
	--nav-links-color: #413e3d;
	--nav-links-color: #040200;
	--button-hover-bg: #cf6138;
	--projects-container-hover: #9e9874;
	--active-nav-link: #020128;
	--radio-btn-bg: #f8f8f8;
	--radio-btn-border: #4c516d;
	--switch-button-bg: #32cd32;
	--switch-button-bg: #3f00ff;
}

[data-theme='dark'] {
	--primary-background: #1e202b;
	/* --primary-background: #020924; */
	/* --secondary-background: #6d684c;
	--secondary-background: #413E3D;
	--secondary-background: #2B281E; */
	--secondary-background: #3f3d2d;
	--secondary-background: #2b221e;
	--secondary-background: #1e272b;
	/* --secondary-background: #221E2B; */
	/* --secondary-background: #221E2B;
	--secondary-background: #333649;
	
	 */
	/* --projects-container-bg: #4c516d;
	--projects-container-bg: #1E202B; */

	--projects-container-bg: #221e2b;
	--projects-container-bg: #1e202b;
	--projects-container-bg: #2d3041;
	--home-background: url('./images/background-home-desktop.jpg');
	--projects-background: url('./images/background-destination-desktop.jpg');
	--hero-banner-text: 'Playfair Display', serif;
	--primary-font-family: 'Montserrat', sans-serif;
	--home-page-buttons-bg: #1e202b;
	--buttons-font-family: 'Poppins', sans-serif;
	--buttons-color: aliceblue;
	--secondary-font-family: 'Montserrat', sans-serif;
	--text-primary-color: white;
	--text-secondary-color: aliceblue;
	--button-hover-bg: #309ec7;
	--projects-container-hover: #61678b;
	--active-nav-link: #ff003f;
	--active-nav-link: #d9f3eb;
	--nav-links-color: #d6fae5;
	--nav-links-color: #e7e7c1;
	--radio-btn-bg: #969cbd;
	--radio-btn-border: #b0c4de;
	--switch-button-bg: #ba0021;
}

.App {
	height: 100%;
	width: 100%;
	background: var(--projects-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3%;
}
