@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* 
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
 */

:root {
	--primary-background: #b3ae92;
	/* --primary-background: #413E3D; */
	--secondary-background: #9297B3;
	--home-background: white;
	--projects-background: white;
	--projects-container-bg: #b3ae92;
	--hero-banner-text: 'Playfair Display', serif;
	--primary-font-family: 'Poppins', sans-serif;
	--secondary-font-family: 'Source Sans Pro', sans-serif;
	--text-primary-color: #0f0700;
	--text-secondary-color: #790326;
	--nav-links-color: #413E3D;
	--button-hover-bg: #cf6138;
	--projects-container-hover: #9e9874;
	--active-nav-link: #014421;
	--radio-btn-bg: #d3cfb8;
	--radio-btn-border: #faf2c4;
	--switch-button-bg: #32CD32;
}

[data-theme='dark'] {
	--primary-background: #4c516d;
	--primary-background: #2d3041;
	--secondary-background: #6d684c;
	--secondary-background: #413E3D;
	--projects-container-bg: #4c516d;
	--home-background: url('./images/background-home-desktop.jpg');
	--projects-background: url('./images/background-destination-desktop.jpg');
	--hero-banner-text: 'Playfair Display', serif;
	--primary-font-family: 'Montserrat', sans-serif;
	--secondary-font-family: 'Montserrat', sans-serif;
	--text-primary-color: white;
	--text-secondary-color: aliceblue;
	--button-hover-bg: #309ec7;
	--projects-container-hover: #61678b;
	--active-nav-link: #FF003F;
	--nav-links-color: #d6fae5;
	--radio-btn-bg: #969cbd;
	--radio-btn-border: #b0c4de;
	--switch-button-bg: #BA0021;
}

.App {
	width: 100%;
	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: var(--primary-background);
	color: var(--text-secondary-color);
}

.logo {
	height: inherit;
	width: auto;
	margin-top: 0;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	margin-right: 2.5rem;
	font-family: 'Poppins', sans-serif;
	font-family: var(--primary-font-family);
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1rem;
}

.nav-link {
	text-decoration: none;
	/* color: var(--text-secondary-color); */
	color: var(--nav-links-color);
}

.nav-link:hover {
	color: var(--active-nav-link);
}

.active {
	text-decoration: none;
	font-weight: 500;
	color: var(--active-nav-link);
}

.switch-theme {
	border: none;
	text-decoration: none;
	color: var(--text-secondary-color);
	font-family: 'Poppins', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.home {
	width: 100%;
	height: 90vh;
}
.hero {
	background: var(--home-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	max-width: 100%;
	resize: both;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--hero-banner-text);
	font-weight: 900;
	gap: 5rem;
}

.hero-text-container {
	color: var(--text-primary-color);
	margin-left: 5rem;
	width: 45%;
	height: 100%;
}

.primary-text {
	font-size: 2.5rem;
}
.profile-photo {
	height: 200px;
	width: auto;
	border-radius: 50%;
}
.subtext {
	font-family: var(--secondary-font-family);
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5rem;
	white-space: 'pre-line';
}

.hero-right {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5rem;
}

.links-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.center-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-background);
	color: var(--text-secondary-color);
	/* color: var(--text-primary-color); */
	font-family: var(--primary-font-family);
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: capitalize;
	padding: 0.65rem 1.2rem;
	border-radius: 4px;
	font-size: 1.12rem;
	font-weight: 400;
}

.fa-github {
	font-size: 1.25rem;
	color: var(--text-secondary-color);
}

.projects-root {
	width: 94%;
	margin: auto;
	margin-top: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: flex-start;
	justify-content: center;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
	gap: 2rem;
	background: var(--projects-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 3%;
}
.theme-icons-and-radio-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa-sun {
	color: gold;
}
.projects-wrapper,
.read-more-project-wrapper {
	width: 100%;
	height: fit-content;
	margin-top: 0;
	background-color: var(--projects-container-bg);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	box-shadow: inset 0 0 0 0 var(--projects-container-hover);
	transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
	border-radius: 8px;
}

.projects-wrapper:hover {
	color: var(--text-primary-color);
	box-shadow: inset 1000px 0 0 0 var(--projects-container-hover);
}

.project-title {
	width: 100%;
	background-color: var(--secondary-background);
	margin: 0 auto;
	text-align: center;
	padding: 0.5rem 0;
	border-radius: 4px;
	color: var(--text-secondary-color);
	/* color: var(--nav-links-color); */
}

.projects-wrapper img {
	width: 90%;
	height: auto;
}

.read-more-read-less-wrapper {
	width: 90%;
	margin: 0.5rem auto;
	color: var(--text-secondary-color);
	color: var(--nav-links-color);
}

.anchor-css-class {
	color: var(--active-nav-link);
}
.project-links-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.github-link,
.live-demo-link {
	text-decoration: none;
	background-color: var(--secondary-background);
	padding: 0.45rem 1rem;
	border-radius: 4px;
	color: var(--text-secondary-color);
	box-shadow: inset 0 0 0 0 var(--button-hover-bg);
	transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	/* font-family: 'Poppins', sans-serif; */
}

.github-link:hover,
.live-demo-link:hover {
	color: var(--text-primary-color);
	box-shadow: inset 200px 0 0 0 var(--button-hover-bg);
}

.project-details-page {
	width: 100%;
	height: 90vh;
	background: var(--projects-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3% 0;
}

.project-details-wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 90%;
	margin: auto;
	gap: 3rem;
	justify-content: first baseline;
	color: var(--text-secondary-color);
}

.details-title {
	text-align: center;
	color: var(--text-secondary-color);
}

.project-details-wrapper img {
	width: 100%;
}

.project-details-wrapper .read-more-less {
	cursor: pointer;
	margin-bottom: 1rem;
}

.read-more-project-wrapper {
	width: 60%;
	margin: auto;
}

.read-more-container {
	width: 100%;
	background: var(--projects-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 3% 0;
}
.read-more-project-wrapper img {
	width: 90%;
	margin: auto;
	cursor: default;
}

/* switch */

.radio-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.light-dark-mode {
	display: grid;
	place-items: start;
	grid-template-columns: repeat(2, 1fr);
}

.switch-label {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	cursor: pointer;
	width: 50px;
	height: 22px;
	background: var(--radio-btn-bg);
	border-radius: 100px;
	border: 3px solid var(--radio-btn-border);
	position: relative;
	transition: background-color 0.2s;
}

.switch-label .switch-button {
	position: absolute;
	left: 2px;
	width: 23px;
	height: 22px;
	border-radius: 30px;
	transition: 0.2s;
	background: var(--switch-button-bg);
	box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox {
	opacity: 0;
}
.fa-solid {
	margin-left: 4px;
	font-size: 1rem;
}
.sun-icon {
	font-size: 1.12rem;
}

.switch-checkbox:checked + .switch-label .switch-button {
	left: calc(100% - 2px);
	transform: translateX(-100%);
	background-color: var(--switch-button-bg);
}

.switch-label:active .switch-button {
	width: 28px;
}

.switch-checkbox:checked + .switch-label {
	background: var(--home-background);
}

.d-none {
	opacity: 0;
}
