.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: var(--primary-background);
	color: var(--text-secondary-color);
}

.logo {
	height: inherit;
	width: auto;
	margin-top: 0;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	margin-right: 2.5rem;
	font-family: 'Poppins', sans-serif;
	font-family: var(--primary-font-family);
	/* font-weight: 400; */
	text-transform: uppercase;
	font-size: 1rem;
}

.nav-link {
	text-decoration: none;
	/* color: var(--text-secondary-color); */
	color: var(--nav-links-color);
	font-weight: var(--nav-links-font-weight);
}

.nav-link:hover {
	color: var(--active-nav-link);
	font-weight: var(--active-nav-link-font-weight);
}

.active {
	text-decoration: none;
	font-weight: var(--active-nav-link-font-weight);
	color: var(--active-nav-link);
}

.switch-theme {
	border: none;
	text-decoration: none;
	color: var(--text-secondary-color);
	font-family: 'Poppins', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.theme-icons-and-radio-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* switch */

.radio-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.light-dark-mode {
	display: grid;
	place-items: start;
	grid-template-columns: repeat(2, 1fr);
}

.switch-label {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	cursor: pointer;
	width: 50px;
	height: 22px;
	/* height: max-content; */
	background: var(--radio-btn-bg);
	border-radius: 100px;
	border: 3px solid var(--radio-btn-border);
	position: relative;
	transition: background-color 0.2s;
}

.switch-label .switch-button {
	position: absolute;
	left: 2px;
	width: 23px;
	height: 22px;
	border-radius: 30px;
	transition: 0.2s;
	background: var(--switch-button-bg);
	box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox {
	opacity: 0;
}
.fa-solid {
	margin-left: 4px;
	font-size: 1rem;
}
.sun-icon {
	font-size: 1rem;
  position: absolute;
	top: 0;
	right: 0;
}

.switch-checkbox:checked + .switch-label .switch-button {
	left: calc(100% - 2px);
	transform: translateX(-100%);
	background-color: var(--switch-button-bg);
}

.switch-label:active .switch-button {
	width: 28px;
}

.switch-checkbox:checked + .switch-label {
	background: var(--home-background);
}

.d-none {
	opacity: 0;
}